[
	{
		"title": "Blink",
		"period": 60,
		"duration": 2,
		"foreground": "#FFF",
		"background": "#000"
	},
	{
		"title": "Look far away",
		"period": 1200,
		"duration": 15,
		"foreground": "#FFF",
		"background": "#080"
	},
	{
		"title": "Stand up, walk around",
		"period": 3600,
		"duration": 60,
		"foreground": "#FFF",
		"background": "#900"
	}
]
